extends ../layout

block content
    h4 По принтерам
    form.form-horizontal(role="form" method="post" action="/parts/printers/searchPartsOfPrinters" class="form_mailing")
        select#name(name="name")
            option(value="Шарик") Шарик
            option(value="Рик") Рик
            option(value="Китайцы") Китайцы
            option(value="177") 177
            option(value="Конь") Конь
        button#btn-signup.btn.btn-info(type="submit") Поиск
    table(style="width:100%")
        tr
            th Серийный номер
            th Название на русском
            th Название на латыни
            th Принтер
            th Количество
            if data.length
                each item in data
                    tr
                        td=item.serial_id
                        td=item.title_rus
                        td=item.title_latin
                        td=item.printer
                        td=item.current_amount

